
<div >
    <mat-card class="card" *ngFor="let item of viajes">
        <mat-card-title>Viaje en curso</mat-card-title>
        <mat-card-content>
            <ul>
                <li>Direccion {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length-1].equipment.cliente.address}} </li>
                <li>Fecha {{(item.travelEquipmentDTOs[item.travelEquipmentDTOs.length-1].operationDate) | date : "short" | date: 'dd/MM/yy, h:mm a'}}</li>
                <li>Equipo: Marca {{item.travelEquipmentDTOs[0].equipment.mark}}, Modelo {{item.travelEquipmentDTOs[0].equipment.model}}</li>
                <li>Estado del viaje {{item.lastStatusTravel}} </li>
            </ul>

            <div *ngIf="item.lastStatusTravel == 2 || item.lastStatusTravel == 6 ">
                <button class="boton" mat-raised-button color="primary" (click)="cambiarStatusTravel(item, false)">Llevar pedido</button>
                <button class="boton" mat-raised-button color="warn" (click)="cambiarStatusTravel(item, true)">Cancelar viaje</button>
            </div>
          
            <button class="boton" mat-raised-button color="primary" (click)="cambiarStatusTravel(item, false)" *ngIf="item.lastStatusTravel == 3 || item.lastStatusTravel == 7 ">Terminar viaje</button>
           
            <button class="boton" mat-raised-button color="primary" (click)="verDetalle(item)">Detalles</button>
        </mat-card-content>
    </mat-card>
</div>
