<p>historial-viajes works!</p>

<div >
    <mat-card class="example-card" *ngFor="let item of viajes">
        <mat-card-title>Viaje</mat-card-title>
        <mat-card-content>
            <ul>
                <li>Direccion {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length-1].equipment.cliente.address}} </li>
                <li>Fecha {{(item.travelEquipmentDTOs[item.travelEquipmentDTOs.length-1].operationDate) | date : "short" }}</li>
                <li>Equipo: Marca {{item.travelEquipmentDTOs[0].equipment.mark}}, Modelo {{item.travelEquipmentDTOs[0].equipment.model}}</li>
                <li>Estado del viaje {{item.lastStatusTravel}} </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
